.character_text {
    margin: 20px;
}

.character_image {
    margin: 20px;
}

.character_image img {
    width: 200px;
    object-fit: cover;
}

.character_text p {
    width: 500px;
    font-family: 'Kiwi Maru', serif;
}

.character_data p {
    font-size: 16px;
    font-family: 'Kiwi Maru', serif;
}

.character_text_detail {
    font-size: 18px;
    font-family: 'Kiwi Maru', serif;
}

.character {
    display: flex;
    justify-content: center;
}

.character_name {
    font-family: 'Kiwi Maru', serif;
    font-size: 30px;
}

.character_kana {
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
}
