/* ヘッダー */
body {
    width: 1000px;
    margin:0 auto;
}

header {
    background-color: aqua;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

header .nav {
    display: inline-block;
}

.title_logo {
    padding: 20px;
    display: inline-block;
    margin-right: 30px;
}

.title_logo img{
    width: 150px;
}

header li {
    display: inline-block;
    margin: 10px;
}
