.outline li{
    list-style: none;
    font-family: 'Kiwi Maru', serif;
    padding: 7px;
}

.outline h2{
    font-family: 'Kiwi Maru', serif;
    padding: 15px 7px;
    font-size:  18px;
}

.spec li{
    list-style: none;
    font-family: 'Kiwi Maru', serif;
    padding: 7px;
}

.spec h2{
    font-family: 'Kiwi Maru', serif;
    padding: 15px 7px;
    font-size:  18px;
}

.staff li{
    list-style: none;
    font-family: 'Kiwi Maru', serif;
    padding: 7px 15px;
    font-size: 17px;
}

.staff h2{
    font-family: 'Kiwi Maru', serif;
    padding: 15px 7px;
    font-size:  20px; 
}

.spec_body{
    display:flex;
    justify-content: space-around;
}

.outline{
    padding:30px 50px;
}

.spec{
    padding:30px 50px;
}

.credit{
    display:flex;
}